<div class="card mb-3" style="background-color: #2b2b2b; color: #eeeeee;">
  <div class="row g-0">
    <div class="col-sm-6 col-md-3">
      <a href="{{ site.baseurl}}{{ include.page.url }}">
        <img src="{{ site.baseurl }}/{{ include.page.image }}" height="225px" class="rounded-start">
      </a>
    </div>
    <div class="col-sm-6 col-md-9">
      <div class="card-body">
        <h5 class="card-title">{{ include.page.title }} <small class="float-end" style="color: #cccccc;">{{ include.page.date }}</small></h5>
        <p class="card-text">{{ include.page.summary }}</p>
        <p>
          {% for label in include.page.labels %}
          <span style="background-color: var(--tf-pill-bg); color: #eeeeee" class="badge">{{ label }}</span>
          {% endfor %}
        </p>
        <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn btn-outline-light">Read More</a>
      </div>
    </div>
  </div>
</div>
