<div id="essays" style="background-color: #2b2b2b; border-top: 2px solid; border-color: #222222;" class="pb-5">
  <div class="container">
    <div class="row my-2 mt-3">
      <div class="col-md-6">
        <div class="text-start" style="color: white">
          <b>
            <svg class="ms-3 mb-4" style="fill: #afb1b3; height: 2rem; width: 2.5rem;">
              <use xlink:href="/img/bootstrap-icons.svg#pen-fill"/>
            </svg>
            <span class="display-6" style="color: #cfcfcf; font-weight: 400;">
              &nbsp;Essays
            </span>
          </b>
        </div>
      </div>
    </div>

    <div class="row g-3">
      {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
      {% for page in essay_pages %}
        {% unless page.draft %}
          {% include essays/essay-card.html page=page %}
        {% endunless %}
        {% if forloop.index == include.limit %}
          {% break %}
        {% endif %}
      {% endfor %}
    </div>

    {% if essay_pages.size > include.limit %}
      <p class="text-center pt-4"><a href="{{ site.baseurl}}/essays/">See all {{ essay_pages.size }} essays</a></p>
    {% endif %}

  </div>
</div>
