<header class="navbar navbar-expand border-bottom">
  <div class="container-fluid">
    <a class="nav-link ms-3" href="{{ '/' | prepend: site.baseurl }}" style="font-size: 20px;">Robert Godfrey</a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link mx-2" href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a>
        <a class="nav-link mx-2" href="{{ '/#essays' | prepend: site.baseurl }}">Essays</a>
        <a class="nav-link mx-2" href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a>
      </ul>
    </div>
  </div>
</header>
