<div style="background-color: #2b2b2b" class="container py-4 mt-3">
  <div class="row mb-2 pushRight">
    <div class="col-lg-3 mt-2">
      <img width="300px" src="{{ site.data.bio.basics.picture }}" class="d-block mx-auto rounded">
    </div>
    <div id="ide" class="col-lg-9" style="font-size: 18px;">
      <div class="row">
        <div class="lineNums my-3">
          <span style="color: #5b5b5b;">1<span style="color: #2b2b2b; font-size: 2rem;"></span></span><br />
          <span class="mt-2" style="color: #555555;">2</span><br/>
          <span style="color: #4b4b4b;">3</span><br/>
          <span style="color: #444444;">4</span><br/>
          <span style="color: #3b3b3b;">5</span><br />
          <span class="mt-2" style="color: #333333;">6</span><br />
          <span class="mt-2" style="color: #2f2f2f;">7</span>
        </div>
        <div class="col my-3" style="font-family: JetBrains Mono;">
          <span style="color: #cb6f2e;">class&nbsp;</span><span style="color: #ffc66d; font-size: 2rem;">RobertGodfrey</span><span id="undergrad" style="color: #a9b7c6;">(UndergraduateStudent)</span><span style="color: #a9b7c6;">:</span>
          <br />
          <span class="ms-5" style="color: #619652">"""</span><br/>
          <p class="ms-5 m-0 p-0" style="color: #619652;">
            <span id="bio" style="font-style: italic;">I am a computer science student at the University of Hawai‘i at Mānoa.</span><span id="cursor1" style="color: #777777; border: solid 1px"></span>
          </p>
          <span class="ms-5" style="color: #619652;">
            <span id="bottomQuotes">"""</span><span id="cursor2" style="color: #777777; border: solid 1px; visibility: hidden"></span>
          </span>
          <p class="ms-5 m-0 p-0">
            <span id="interestsStart" style="color: #a9b7c6;"></span><span id="openingBracket" style="color: #a9b7c6;"></span><span id="appDev" style="color: #619652"></span><span id="comma1" style="color: #cb6f2e;"></span><span id="crypto" style="color: #619652;"></span><span id="comma2" style="color: #cb6f2e;"></span><span id="augment" style="color: #619652;"></span><span id="quote" style="color: #619652;"></span><span id="cursor3" style="color: #777777; border: solid 1px; visibility: hidden"></span><span id="closingBracket" style="color: #a9b7c6; visibility: hidden;">]</span>
          </p>
        </div>
      </div>
      <hr class="my-4 pushRight" style="color: #555555; border-top: 2px solid" />
      <div class="row pushRight" style="font-size: 1.2rem;">
        <div class="col text-center mt-2">
          <a href="{{ '/' | prepend: site.baseurl }}">
            <svg class="tf-social">
              <use xlink:href="/img/bootstrap-icons.svg#house-fill"/>
            </svg>
          </a>
        </div>
        <div class="col text-center mt-2">
          <a href="mailto:rob_godfrey@outlook.com">
            <svg class="tf-social">
              <use xlink:href="/img/bootstrap-icons.svg#envelope-fill"/>
            </svg>
          </a>
        </div>
        <div class="col text-center mt-2">
          <a href="https://github.com/robertgodfrey" target="_blank">
            <svg class="tf-social">
              <use xlink:href="/img/bootstrap-icons.svg#github"/>
            </svg>
          </a>
        </div>
        <div class="col text-center mt-2">
          <a href="https://www.linkedin.com/in/bob-godfrey" target="_blank">
            <svg class="tf-social">
              <use xlink:href="/img/bootstrap-icons.svg#linkedin"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script>
    // mom's spaghetti. ye have been warned
    const bioText = ' I expect to graduate in May 2024 and plan on pursuing a career as a software engineer.';
    const speed = 50;
    let first = true;

    function typeWriter(text, element, cursorStart, cursorEnd, delayTime) {
      let i = 0;

      function typeWriterAux(text, element) {
        if (i < text.length) {
          document.getElementById(element).innerHTML += text.charAt(i);
          if (text.charAt(i - 1) == '=') {
            document.getElementById('openingBracket').innerHTML = '[';
            document.getElementById('closingBracket').style.visibility='visible';
            document.getElementById('openingBracket').style.color='#ffe835';
            document.getElementById('closingBracket').style.color='#ffe835';
            document.getElementById('openingBracket').style.backgroundColor='#3b514d';
            document.getElementById('closingBracket').style.backgroundColor='#3b514d';
          } else if (text.charAt(i) == '\'') {
            if (i == text.length - 1) {
              document.getElementById('quote').innerHTML = '';
            } else {
              document.getElementById('quote').innerHTML = '\'';
            }
          }
          i++;
          setTimeout(typeWriterAux, 50, text, element);
        } else if (delayTime <= 3) {
          flashCursor(cursorStart, delayTime);
          setTimeout(moveCursor, delayTime * 500, cursorStart, cursorEnd, delayTime);
        } else if (delayTime == 3.1) {
          flashCursor(cursorStart, delayTime);
          setTimeout(typeWriter, delayTime * 500, '\'Application Development\'', 'appDev', 'cursor3', 'cursor3', 3.2);
          setTimeout(clearBrackets, delayTime * 500);
        } else if (delayTime == 3.2) {
          document.getElementById('comma1').innerHTML += ',';
          //setTimeout(addSpace, 80, 'comma1');
          highlightBrackets();
          flashCursor(cursorStart, delayTime);
          setTimeout(typeWriter, delayTime * 500, '\'Cryptography\'', 'crypto', 'cursor3', 'cursor3', 3.3);
          setTimeout(clearBrackets, delayTime * 500);
        } else if (delayTime == 3.3) {
          document.getElementById('comma2').innerHTML += ',';
          //setTimeout(addSpace, 80, 'comma2');
          highlightBrackets();
          setTimeout(typeWriter, delayTime * 500, '\'Augmented Reality\'', 'augment', 'cursor3', 'cursor3', 6);
          setTimeout(clearBrackets, delayTime * 500);
          flashCursor('cursor3', 20);
        } else if (delayTime > 5) {
          highlightBrackets();
        }
      }
      typeWriterAux(text, element);
    }

    function addSpace(commaNum) {
      document.getElementById(commaNum).innerHTML += ' ';
    }

    function highlightBrackets() {
      document.getElementById('openingBracket').style.color='#ffe835';
      document.getElementById('closingBracket').style.color='#ffe835';
      document.getElementById('openingBracket').style.backgroundColor='#3b514d';
      document.getElementById('closingBracket').style.backgroundColor='#3b514d';
    }

    function clearBrackets() {
      document.getElementById('openingBracket').style.color='#a9b7c6';
      document.getElementById('closingBracket').style.color='#a9b7c6';
      document.getElementById('openingBracket').style.backgroundColor='#2b2b2b';
      document.getElementById('closingBracket').style.backgroundColor='#2b2b2b';
    }

    function moveCursor(cursorStart, cursorEnd) {
      document.getElementById(cursorStart).style.visibility='hidden';
      document.getElementById(cursorEnd).style.visibility='visible';
      if (cursorStart == 'cursor1') {
        typeWriter('', 'bottomQuotes', 'cursor2', 'cursor3', 2);
      } else if (cursorStart == 'cursor2') {
        typeWriter('interests = ', 'interestsStart', 'cursor3', 'cursor3', 3.1);
      }
    }

    function flashCursor(name, duration) {
      let j = 0;
      function flashAux(name, duration) {
        if (j < duration) {
          if (j % 2 == 0) {
            document.getElementById(name).style.visibility='hidden';
          } else {
            document.getElementById(name).style.visibility='visible';
          }
          j++;
          setTimeout(flashAux, 500, name, duration);
        } else if (first) {
          typeWriter(bioText, 'bio', 'cursor1', 'cursor2', 2);
          first = false;
        } else if (duration == 20) {
          document.getElementById(name).style.visibility='hidden';
          clearBrackets();
        }
      }
      flashAux(name, duration);
    }

    flashCursor('cursor1', 8);
  </script>
</div>
